body {
    font-family: sans-serif;
    margin: 20px;
}

header nav a {
    margin-right: 10px;
    text-decoration: none;
    color: blue;
}

button {
    margin: 5px;
    padding: 5px 10px;
}

textarea {
    width: 100%;
    height: 100px;
    margin-top: 10px;
}
